*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background: #080808;
  color: #fff;
}
.bgvid{
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.header{
  width: 100%;
  height: 70vh;
}
.container{
  padding: 10px 5%;
}
.navbar{
  /* position: absolute; */
  z-index: 10;
  overflow: hidden;
  background: #080808;
}
.sticky {
  position: fixed;
  top: 0;
  width: 81%;
}
/* .sticky + .content {
  padding-top: 10px;
} */

.navbar-brand{
  font-family: 'Oxygen', sans-serif;
  font-size: 35px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li a{
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

.video-display{
  flex-basis: 60%;
  text-align: right;
}

.header-text p{
  font-family: 'Source Code Pro', monospace;
  /* margin-top: 10%; */
  font-size: 30px;
}
.hello{
  /* margin-top: 10%; */
  /* padding-top: 15%; */
}
.fdev{
  margin-top: 0px;
}

.header-text h1{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-top: 20px;

}
.header-text h1 span{
  color: #ff004f;
  font-weight: bold;
}


/**************  ABOUT ME  ***************/

.about{
  color: #ababab;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  float: left;
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}
.exo-2-font{
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  color: #E5D1FA;
}
.exo-2-font:hover{

}
.about-col-2 h1{
  transition: transform 0.5s;
}
.about-col-2 h1:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.subtitle{
  font-family: 'Oxygen', sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}

.tab-titles{
 display: flex;
 margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul{
    padding-left: 0px;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #b54769;
  font-size: 18px;
}

.tab-contents{
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #E5D1FA;
  display: none;
}
.tab-contents.active-tabs{
  display: block;
}


/****************** SERVIVES SECTION ****************/
#services{
  padding: 30px 0;
}
.hov-effect h1{
  transition: transform 0.5s;
}
.hov-effect h1:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
}
.services-list div i{
  font-size: 40px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);
}


/******************* portfolio ******************/
#portfolio{
  padding: 30px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #ff004f;
}

/******************* Contact ****************/
.contact-leftside{
  flex-basis: 35%;
}
.contact-rightside{
  margin-top: 70px;
  flex-basis: 60%;
}
.contact-leftside h1{
  margin-bottom: 20px;
  transition: transform 0.5s;
}
.contact-leftside h1:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.contact-leftside p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.contact-leftside a{
  text-decoration: none;
  color: #fff;
}

.social-media a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-media a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.resbtn{
  display: inline-block;
  color: #ff004f;
}
.contact-rightside form{
  width: 100%;
}

form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .resbtn{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.fa-heart{
  color: #ff004f;
}

/************** MEDIA QUERIES ******************/
@media only screen and (max-width: 800px) {
  .subtitle{
    font-size: 30px;
  }
  .header{
    height: 50vh;
  }
  .about-col-1,.about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-leftside,.contact-rightside{
    flex-basis: 100%;
  }
  .copyright{
    font-size: 14px;
  }

  .sticky{
    width: 90%;
  }
  .navbar-collapse{
    z-index: 1;
  }
  .header-text{
    z-index: -1;
  }
  .waviy{
    z-index: -1;
  }
  .about-col-1{
    z-index: 1;
  }


}

#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/******** PROGRESS BAR *********/
.progress {
  position: absolute;
  z-index: 10;
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: #ff004f;
    width: 100%;
  }
}
:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}


/*********** FLIP WAVY ANIMATION ************/
.waviy span {
  /* position: relative; */
  margin-top: 10px;
  display: inline-block;
  color: #ff004f;
  letter-spacing: 1px;
  font-size: 55px;
  font-weight: bold;
  /* text-transform: uppercase; */
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

/************* SHINE EFFECT **************/
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(255,0,79,.6) 30%, #000 50%, rgba(255,0,79,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/************* ANIMATION EFFECT ************/
.animate-me{
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.animate-me span{
  opacity: 0;
  filter: blur(4px);
}

.animate-me span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animate-me span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
